<% if user_signed_in? && current_user %>
<!--<div class="container">-->
<!--  <div class="row">-->

    <div class="col-md-5 offset-md-3 ml-auto">
      <div class="text-right">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word %>
          <%= f.select :range, options_for_select([['User'], ['Book'],['Tag']]) %>
          <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
          <%= f.submit "検索", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
<!--  </div>-->
<!--</div>-->

<% end %>

<!--選択したモデルをrange 選択した検索手法をsearch-->


<!--options_for_select-->
<!--配列、ハッシュからオプションタグを生成するメソッドです-->
<!--。 options_from_collectin_for_select を知らなくても、-->
<!--これさえあればオプションタグは作れます。-->


<!--options_for_select([ "VISA", "MasterCard", "Discover" ], ["VISA", "Discover"])-->
<!--# => <option selected="selected">VISA</option>-->
<!--# => <option>MasterCard</option>-->
<!--# => <option selected="selected">Discover</option>-->
<!--単純な配列を渡すと、配列要素の値がオプションになります。-->
<!--選択された値を複数渡すには、配列で渡します。-->